.Images{
    display: flex;
    height: 45rem;
}

html{
    font-size: 62.5%;
    width: 100%;
    height: 100%;
}

.left-side{
    height: 100%;
    width: 50%;
    background-image: url(../Img/logitech_G502_MOUSE.jpg);
    background-size: 100% 100%;
    animation: slider1 12s infinite;
}

.right-side{
    width: 50%;
    height: 100%;
    background-image: url(../Img/keyboard.jpg);
    background-size: 100% 100%;
    animation: slider2 12s infinite;
}

.home-article{
    margin-bottom: 4rem;
}

@keyframes slider1{
    50%{background-image: url(../Img/Razer-Gigantus-V2-feat..jpg);}
    /* 50%{background-image: url(../Img/alexa.jpg);}
    75%{background-image: url(../Img/Motorola-Launches-New-AmphisoundX-Soundbars-Starting-at-Rs.7499.jpg);}    */
}

@keyframes slider2{
    50%{background-image: url(../Img/xiaomi-launches-mi-curved-gaming-monitor.jpg);}
    /* 50%{background-image: url(../Img/Sony-SRS-XB402M-body.jpg);}
    75%{background-image: url(../Img/Pixel-Buds-A.jpg.fdmdownload);} */
}

@media (max-width:768px){
    html{
        font-size: 40%;
    }
    .home-articles{
        width: 100%;
    }
    .Images{
        flex-direction: column;
    }
    .left-side{
        width: 100%;
    }
    .right-side{
        width: 100%;
    }
    .home-article-img img{
        height: 70px;
        width: 100px;
        
    }
    h3{
        margin-bottom: 2.5rem;
        margin-left: 1rem;
    }
    .Images{
        height: 50rem;
    }
}
